@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    background-repeat: no-repeat, no-repeat;
    background-color: hsl(185deg, 75%, 39%);
}

.container {
    display: flex;
    width: 25rem;
    height: 25rem;
    background-color: white;
    border-radius: 20px;
}

.card {
    width: 100%;
    height: 40%;
    background-image: url(../images/bg-pattern-card.svg);
    border-radius: 20px 20px 0 0;    
}

.profile-informations {
    height: 20rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-informations .perfil {
    width: 30%;
    margin-top: 80px;
    border-radius: 50%;
    border: solid white 5px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;
}

.container .profile-informations p, .counter {
    font-weight: 700;
}

.container .card .age,
.container .card .city,
.profile-numbers .info .counter-type {
    color: var(--text-color);
}

.container .card .city{
    font-size: 14px;
}

.info .counter-type {
    font-size: 10px;
}

.attribution {
    padding-top: 25px;
    font-size: 11px;
    text-align: center;
    display: flex;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
